body {
  font-family: Arial, sans-serif;
  // margin: 0px auto;
  width: 230px;
  user-select: none;
}

h2 {
  font-size: 24px;
  margin: 0 0 16px;
}

form {
  p {
    margin: 5px auto;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 2px;
    border-radius: 10px;
  }
  input[type="submit"] {
    margin: 15px auto;
  }
}
.err {
  color: red;
}
